<h2>{{ property.title }}</h2>

<p><strong>Location:</strong> {{ property.location }}</p>
<p><strong>Price:</strong> ₹ {{ property.price }}</p>
<p><strong>Description:</strong></p>
<p>{{ property.description }}</p>

<hr>

<h3>Send Inquiry</h3>

<form method="post" action="{% url 'send_inquiry' property.id %}">
    {% csrf_token %}
    <textarea name="message" required placeholder="Write your message here"></textarea><br><br>
    <button type="submit">Send Inquiry</button>
    {% if user.is_authenticated and user.role == "TENANT" %}
<form method="post" action="{% url 'create_inquiry' property.id %}">
    {% csrf_token %}
    <textarea name="message" required placeholder="Write your inquiry"></textarea>
    <button type="submit">Send Inquiry</button>
</form>
{% endif %}

</form>
