<h3>
  <a href="{% url 'property_detail' property.id %}">
    {{ property.title }}
  </a>
</h3>


<form method="get">
    <input type="text" name="location" placeholder="Location">

    <input type="number" name="min_price" placeholder="Min Price">

    <input type="number" name="max_price" placeholder="Max Price">

    <button type="submit">Search</button>
</form>

<hr>

{% if properties %}
    {% for property in properties %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:15px;">
            <h3>{{ property.title }}</h3>
            <p>{{ property.location }}</p>
            <p>₹ {{ property.price }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No properties found.</p>
{% endif %}
